---
// Imports 
import Layout from "../layouts/Layout.astro";
---
<Layout title="Page Not Found :(">
    <section class="h-screen px-6 flex items-center justify-center">
        <div class="text-center">
            <h1 class="text-5xl md:scale-125 break-words text-transparent bg-clip-text bg-gradient-to-tl from-indigo-900 via-indigo-500 to-indigo-700">Page Not Found ;(</h1>
            <p class="my-4 text-2xl">You Are Viewing Non-existed Page!</p>
        </div>
    </section>
</Layout>