---
// Imports
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Under Constrution :(">
  <section class="h-screen px-6 flex items-center justify-center">
    <div class="text-center">
      <img
        class="h-48 mx-auto w-auto my-4"
        src="/under-construction.svg"
        alt="Construction Page"
      />
      <div class="my-8">
        <h1
          class="text-5xl md:scale-125 break-words text-transparent bg-clip-text bg-gradient-to-tl from-indigo-900 via-indigo-500 to-indigo-700"
        >
          Page Under Construction ;(
        </h1>
        <p class="my-4 text-2xl">
          Checkout This Page Later On...Or Contact Owner For More Info!
        </p>
      </div>
    </div>
  </section>
</Layout>
