<section>
    <ul class="background w-full md:h-screen py-auto my-auto">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <!-- hero  -->
        <section
            class="flex justify-center items-center h-screen bg-gradient-to-b via-primary-dark/20  from-primary/30 from-10% to-55% to-transparent"
        >
            <div class="mb-9 flex flex-col mx-auto max-w-3xl justify-between">
                <h1 class="text-center font-semibold md:text-7xl text-5xl">
                   Explore Avatar Arhives...
                </h1>
                <form action="/search" method="get">
                    <input
                        class="py-3 px-4 block w-5/6 md:w-full mx-auto backdrop-blur-sm bg-white/10 shadow-md outline-none my-3 rounded-md"
                        name="query"
                        placeholder="Explore Avatar Archives..."
                    />
                </form>
            </div>
        </section>
    </ul>
</section>


<style>
    @keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    background: #2b2d31;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    opacity:0;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 4s linear infinite;
}

.background li:nth-child(0) {
    left: 75%;
    width: 164px;
    height: 164px;
    bottom: -164px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 20%;
    width: 164px;
    height: 164px;
    bottom: -164px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 48%;
    width: 161px;
    height: 161px;
    bottom: -161px;
    animation-delay: 7s;
}
.background li:nth-child(3) {
    left: 14%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 15s;
}
.background li:nth-child(4) {
    left: 22%;
    width: 63px;
    height: 63px;
    bottom: -63px;
    animation-delay: 20s;
}
.background li:nth-child(5) {
    left: 55%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 15s;
}
.background li:nth-child(6) {
    left: 7%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 10s;
}
.background li:nth-child(7) {
    left: 11%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 32s;
}
.background li:nth-child(8) {
    left: 42%;
    width: 137px;
    height: 137px;
    bottom: -137px;
    animation-delay: 40s;
}
.background li:nth-child(9) {
    left: 51%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 13s;
}
.background li:nth-child(10) {
    left: 22%;
    width: 75px;
    height: 75px;
    bottom: -75px;
    animation-delay: 46s;
}
.background li:nth-child(11) {
    left: 22%;
    width: 152px;
    height: 152px;
    bottom: -152px;
    animation-delay: 25s;
}
.background li:nth-child(12) {
    left: 79%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 41s;
}
.background li:nth-child(13) {
    left: 77%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 58s;
}
</style>