---
// Props
type Props = {
    title?: string;
    value?: string;
};
const { title = "Navigate Through AvatarArchives!", value } = Astro.props;
---

<section>
    <div
        id="hero"
        class="max-h-[70vh] brightness-90 w-full md:h-screen py-auto my-auto"
    >
        <!-- hero  -->
        <section
            class="flex opacity-100 justify-center items-center h-screen bg-gradient-to-b from-primary-dark/10 from-5% to-55% to-transparent"
        >
            <div class="mb-9 flex flex-col mx-auto max-w-3xl justify-between">
                <h1
                    class="text-center select-none break-words font-semibold md:text-5xl text-3xl"
                >
                    {title}
                </h1>
                <form action="/explore" method="get">
                    <input
                        class="py-3 px-4 block text-white brightness-125 w-5/6 md:w-full mx-auto backdrop-blur-sm bg-white/10 shadow-md outline-none my-3 rounded-md"
                        name="q"
                        value={value}
                        placeholder="Explore Avatar Archives..."
                    />
                </form>
            </div>
        </section>
    </div>
</section>