
<section class="bg-primary-extra rounded-2xl mx-2 py-8 px-4 my-10">
    <!-- heading  -->
    <div class="mb-10">
        <h2 class="text-4xl select-none ml-2 pl-1.5 text-left tracking-wide pb-2 font-bold">
            <span
                class="inline-block w-2 p-0 zigzag-underline border-transparent border-1 bg-gradient-to-r from-indigo-600 via-indigo-600 to-indigo-700 transform -skew-x-12 transform-origin-left text-transparent text-thin"
                >.</span
            >
             Section
            <span
                class="text-transparent bg-clip-text bg-gradient-to-tl from-indigo-900 via-indigo-500 to-indigo-700"
            >
                Name
            </span>
        </h2>
    </div>
    <!-- grid  -->
    <div class="grid grid-cols-1 md:grid-cols-3">
        <article
            class="group hover:scale-105 hover:brightness-110 cursor-pointer rounded-2xl bg-gradient-to-br hover:from-primary hover:via-primary-dark hover:to-primary from-primary/50 via-primary to-primary-dark p-1 shadow-xl transition hover:shadow-sm"
        >
            <div class="rounded-2xl bg-primary-light p-4 md:p-6">
                <!-- pic  -->
                <div
                    class="mb-2 rounded-2xl bg-gradient-to-br from-primary via-primary-dark to-primary hover:from-primary/50 hover:via-primary hover:to-primary-dark p-1 shadow-xl transition hover:shadow-sm"
                >
                    <img
                        class="w-full aspect-square h-full rounded-2xl"
                        src="https://picsum.photos/200"
                        alt="Avatar"
                    />
                </div>

                <!-- info  -->
                
                <a  href="#">
                    <h3 class="mt-0.5 text-lg font-medium text-white">
                        Skull Graffiti 
                    </h3>
                </a>
                <!-- tags  -->
                <div class="mt-4 flex flex-wrap gap-1" >
                    {
                        ["Discord"].map((tag) => {
                            return (
                                <span
                                    class={`whitespace-nowrap rounded-full bg-primary-dark/10 px-2.5 py-0.5 text-xs text-primary`}
                                >
                                    {tag}
                                </span>
                            );
                        })
                    }
                </div>
            </div>
        </article>
    </div>
</section>
