---
// Imports
import Hero from "../../components/Home/Hero.astro";
import Section from "../../components/Section.astro";
import Layout from "../../layouts/Layout.astro";
import { shuffleArray } from "../index.astro";

// vars
export const prerender = !true;
const query = Astro.url.href.split("?q=")[1];

// fetch data
let data: any[] = [];
const response = await fetch(`${Astro.url.origin}/api?query=${query ?? ""}`);
data = await response.json();

if (!query) {
    data = shuffleArray(data);
}
---

<Layout
    title={query
        ? `Search Results For "${query}"`
        : "Elevate Your Online Persona with AvatarArchives!"}
>
    <div class="!max-h-[70vh]">
        <Hero
            value={decodeURIComponent(query ?? "")}
            title="Investigate Your Search Results!"
        />
    </div>
    <Section
        heading="Search"
        highlight="Results!"
        data={data}
        allContent={true}
    />
</Layout>
